
.signin {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 81px;
}




.signin_form_container {
  flex-grow: 1;
}

.dont_have_account_container {
  width: 100%;
  border: 1px solid #DBDBDB;
  margin-top: 10px;
}

.dont_have_account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 20px;

  span {
    font-size: 1.8rem;
    font-weight: 400;
  }

  a {
    font-size: 1.8rem;
    font-weight: 600;
    color: #0095F6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


