
.post_card_in_profile {
  width: 306px;
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .post_card_in_profile {
    width: 100%;
  }

}