
.app {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    min-height: 100vh;
}

.test {
    display: flex;

}