

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  //margin: 0 10% 0 215px;
  flex: 1;
  //margin-left: 215px;
  //padding: 0 10% 0 215px;
  width: calc(100% - var(--sidebar-medium-width));
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0;
    //margin: 0 5%;
    width: calc(100% - var(--sidebar-small-width));
  }

}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0;
    //margin: 0 5%;
    width: 100%;
  }
  
}