
.sidebar {
  @apply
    fixed top-0 left-0 z-[3]
    bg-white h-[100%] p-5
    border-r-[1px] border-solid border-gray-200 border-t-0 border-b-0 border-l-0
  ;

  .sidebar_content {
    @apply  flex items-start flex-col gap-12;
  }

}



.sidebar_desktop_logo {
  width: 50%;
  padding: 12px;
}

.sidebar_mobile_logo {
  display: none;
}


.sidebar_profile {
  margin-top: 45px;
  padding: 12px 8px;
  display: flex;
  align-items: center;

  gap: 4px;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
  img {
    border-radius: 50%;

  }

  span {
    font-size: 1.6rem;
    color: #000000;
  }

  transition: background-color 0.5s;

  &:hover {
    background-color: #f1f1f1;
  }


}


.modal_layout {
  position: fixed;
  top: 0;
  left: var(--sidebar-small-width);//215px;
  z-index: 10;
  background-color: rgba(13, 11, 11, 0.4);
  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}



.modal {
  height: 100vh;
  background-color: #ffffff;
  width: 400px;
  border-radius: 0 16px 16px 0;
  padding: 16px;

  h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 8px;
  }
}


@media screen and (max-width: 1024px) {

  .sidebar {
    width: var(--sidebar-small-width);

    .sidebar_content {
      @apply items-center;
    }
  }

  .sidebar_desktop_logo {
    display: none;
  }


  .sidebar_mobile_logo {
    //opacity: 1;
    //visibility: visible;
    display: initial;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }


  .sidebar_profile {
    padding: 4px;
  }

  .sidebar_avatar {
    width: 100%;
  }

  .text {
    display: none;
  }

}



@media screen and (max-width: 768px) {

  .sidebar {
    @apply fixed top-auto bottom-0 left-0 h-fit w-full
    border-t-[1px] border-solid border-gray-200 border-l-0 border-b-0 border-r-0
    ;

    .sidebar_content {
      @apply flex-row gap-6;
    }
  }

  .sidebar_mobile_logo {
    display: none;
  }


  .sidebar_profile {
    display: none;
  }

}