

.custom_button {
  background-color: #0095F6;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  

  transition: background-color 0.5s;

  &:hover {
    background-color: #0077C0;
  }

  &:disabled {
    color: var(--secondary-bgc);
  }
}