.forgot_password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 81px;
}

.forgot_password_sign_up {

}



.forgot_password_back_to_login {
  background-color: #FAFAFA;
  text-align: center;
  border: 1px solid #DBDBDB;
  width: 100%;
  padding: 16px 0;

  a {
    font-size: 1.4rem;
    font-weight: 600;
    color: #282828;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}