

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //flex-wrap: wrap;
  //gap: 40px;
}
//
.home_posts__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 70px;//16px
  //width: 100%;
}


.home_end {
  text-align: center;
  margin-bottom: 72px;

  img {
    margin: 0 auto;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-text-color);
  }
}


@media screen and (max-width: 768px) {
  .home_posts__list {
    margin: 16px;
  }
  
}


@media screen and (max-width: 425px) {

  .home_posts__list {
    width: 80vw;
  }
  
}
