
.profile_post_modal_overlay {
    position: fixed;
    top: 0;
    left: var(--sidebar-medium-width);
    width: calc(100% - var(--sidebar-medium-width));
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_post_modal {
    //width: 100%;
    //max-width: 600px;
    background-color: var(--bgc);


    position: relative;
    display: flex;
    justify-content: space-between;
}

.profile_post_modal_image {
    max-width: 580px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.profile_post_modal_details {
    max-width: 425px;
    padding: 8px 10px;

    p {
        font-size: 1.2rem;
    }
}

.profile_post_modal_author_details {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 8px;
    gap: 8px;

    span {
        font-size: 1.2rem;
        font-weight: 600;

    }

}

.post_details {
    display: flex;
    align-items: start;
    gap: 10px;
    padding-top: 10px;



}

.post_comments {

}


@media screen and (max-width: 1024px) {
    .profile_post_modal_overlay {

        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .profile_post_modal {
        flex-direction: column;
        width: 100%;
        max-width: 75vw;
    }
}

@media screen and (max-width: 425px) {

    .profile_post_modal {
        max-width: 100vw;
        padding: 8px 4px;
    }
}