@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;

}


:root {

    --bgc-switcher: #452525;

    --sidebar-small-width: 72px;
    --sidebar-medium-width: 244px;
    --sidebar-big-width: 335px;


    /*Colors*/
    --bgc-input: #EFEFEF;
    --bgc: #ffffff;
    --secondary-bgc: #EFEFEF;
    --primary-text-color: #000000;
    --secondary-text-color: #737373;
    --primary-icon-color: #000000;
    --border-color: #d0d0d0;
    --hover-color: #f1f1f1;
}

.dark-theme {
    /*Colors*/
    --bgc: #151515;
    --secondary-bgc: #8a8a8a;
    --bgc-input: #2e2e2e;
    --primary-text-color: #cdcdcd;
    --secondary-text-color: #989898;
    --primary-icon-color: #cdcdcd;
    --border-color: #3f3f3f;
    --hover-color: #565656;
}

body {
    background-color: var(--bgc);
    color: var(--primary-text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

button {
    cursor: pointer;
}

input, textarea {
    background-color: var(--bgc-input);
}

.active.activeLink {
    color: #9c60e7;
}

