
.sign_in_form_container {
  //padding: 0 20px;
  padding: 24px 40px;
  width: 100%;
  border: 1px solid #DBDBDB;
  display: flex;
  flex-direction: column;
}

.sign_in_form {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    padding: 11px 8px;
    border: 1px solid #DBDBDB;
    width: 100%;
    min-width: 258px;
    font-size: 1.2rem;
    color: #737373;
    margin-bottom: 6px;

    &:focus {
      outline: none;
      border: 1px solid #00376B;
    }
  }
}

.sign_in_button {
  margin-top: 8px;
}

.sign_in_form_forgot_password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  a {
    font-size: 1.2rem;
    //font-weight: 400;
    color: #00376B;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 425px) {
  .sign_in_form_container {
    padding: 16px;
  }
  
}