.image_cropper_modal_overlay {
  position: fixed;
  top: 0;
  z-index: 20;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_cropper_modal {
  background-color: var(--bgc);
  width: 50vw;
  padding: 16px;
  max-height: calc(100% - 40px);

  display: flex;
  flex-direction: column;
  border-radius: 12px;

  &_header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  &_content {
    width: 100%;
  }
}


@media screen and (max-width: 768px){
  .image_cropper_modal {
    width: 85vw;
  }
}