
.forgot_password_container {
  padding: 25px 45px;
  width: 100%;
  border: 1px solid #DBDBDB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot_password_text {
  max-width: 300px;

  text-align: center;

  h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 12px;
  }

  h3 {
    font-size: 1.4rem;
    color: #737373;
    margin-bottom: 12px;
  }
}

.lock_icon {
  max-width: 96px;
  margin-bottom: 14px;
}


.forgot_password_form {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.forgot_password_input {
  border-radius: 6px;
}

.forgot_password_btn {
  margin-top: 5px;
  margin-bottom: 60px;
}


.forgot_password_sign_up {
  text-align: center;
  margin-top: 16px;

  a {
    font-size: 1.4rem;
    font-weight: 600;
    color: #282828;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
